@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&display=swap");
@import "variable";
@import "base";

body {
	background-color: $light;
}

/*
 * Main page wrapper
 */
.kebo-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: row;
}

/*
 * Sidebar
 */
.kebo-sidebar {
	height: 100%;
	width: 80px;
	padding: $spacer;
	background-color: #0e1230;
}

/*
 * Middlebar
 */
.kebo-middlebar {
	height: 100%;
	width: 380px;
	padding: 0 $spacer;
	background-color: #131a3d;

	.navbar {
		height: 56px;
		display: flex;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}

	.kebo-logo-text {
		color: $white;
		font-size: 1.3rem;

		&:hover {
			text-decoration: none;
		}
	}
}

/*
 * Main page content
 */
.kebo-main {
	width: 100%;

	.navbar {
		height: 56px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $gray-200;

		.navbar-list {
			display: flex;
			flex-direction: row;
			margin-left: auto;
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;

			li:not(:first-child) {
				margin-left: 1rem;
			}
		}
	}
}

.kebo-content-header {
	padding: $spacing;
	background-color: #fff;
	border-bottom: 1px solid $gray-200;
}
